:root {
	--color-primary: #fff;
	--color-secondary: #fffafa;
	--color-accent: #fb5849;
	--color-text: #000;
	--height-header: 10rem;
}

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
	font-size: 10px;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
	color: var(--color-text);
}

/* 
body.dark {
	--color-primary: #000;
	--color-secondary: #222;
	--color-accent: #250c41;
	--color-text: #fff;
} */

.container {
	width: 1140px;
    margin: 0 auto;
}

/* Header and Starter */

.header {
	position: sticky;
	top: 0;
	z-index: 10;
	
	height: var(--height-header);

	background-color: var(--color-primary);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15)
}

.header-container {
	display: flex;
}

.header-title {
	width: 35%;
	padding-top: 3rem;

	font-family: "Alex Brush";
	font-size: 5rem;
	font-weight: 400;
	text-shadow: 3px 4px 5px rgb(128, 128, 128);

	color: #fb5849;
}

.header-title:hover {
	color: var(--color-text);
}

.header-nav {
	display: flex;
	justify-content: space-around;	
	align-self: center;
	width: 65%;
	padding-left: 20rem;

	list-style: none;
}

.scroll-to-section {
	position: relative;
}

.header-nav-link, .header-sub-link {
	text-decoration: none;
	font-weight: 700;
	color: var(--color-text);	
}

.header-nav-link:hover {
	color: var(--color-accent);
}

.header-nav-link:active {
	color: var(--color-accent);
}

.header-sub-list {
	position: absolute;
	top: 100%;
    left: 0;

	display: none;

	list-style: none;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 6%);
}

.scroll-to-section:hover .header-sub-list {
    display: block;    
}

.header-sub-link {
	position: relative;

	display: block;
	width: 20rem;
	padding-left: 2rem;

	text-decoration: none;
	font-size: 1.6rem;
    font-weight: 400;
	line-height: 4rem;

	background-color: #f7f7f7;
    color: #2a2a2a; 
    border-bottom: 0.1rem solid #eee;
	opacity: 1;
	
	transition: all 0.3s ease 0s;
}

.header-sub-link:hover {
	padding-left: 2.5rem;
	color: #fb5849;
	background-color: white;
}

.starter {
	position: relative;
	height: calc(100vh - var(--height-header));
	
	background-color:  var(--color-accent);	
}

.starter-container {
	position: relative;
	z-index: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;	
}

.starter-title {
	font-family: "Alex Brush";
	font-size: 5rem;
	font-weight: 400;
	text-shadow: 3px 4px 5px rgb(128, 128, 128);
	color: var(--color-primary);
}

.starter-desc {
	padding-bottom: 2.5rem;

	font-size: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2rem;

	color: var(--color-primary);	
}

.starter-link {
	width: 15em;
	padding: 1em 2em 1em 4em;
	
	text-decoration: none;
	font-family: inherit;
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: capitalize;

	color: var(--color-accent);
	background-color: var(--color-primary);
	border-radius: 0.3rem;
}

.starter-right-image {
	position: absolute;
	top: 0;
	right: 0;

	display: flex;
	width: 70%;
	height: 100%;	
	object-fit: cover;	
}

.starter-left-image {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	width: 30%;
	height: 100%;
	object-fit: cover;
}

/* ABOUT */

#about {
	display: flex;
	padding: 10rem 0 0 0;
}

.about-left {
	width: 55%;
}

.about-title {
	position: relative;
	padding: 0 0 2rem 4rem;

	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #fb5849;    
}

.about-title::before {
	content: '';
    position: absolute;
    left: 0;
    top: 0.8rem;

	width: 3rem;
    height: 0.1rem;
    
    background-color: #fb5849;
}

.about-header {
	padding-bottom: 2rem;
	font-size: 3rem;
	font-weight: 900;
	text-transform: capitalize;
}

.about-text {
	padding-bottom: 2rem;

	text-align: justify;
	font-size: 1.4rem;
}

.about-cards {
	display: flex;
	justify-content: space-between;
}

.about-img {
	width: 30%;
	object-fit: cover;

	border-radius: 0.3rem;
}

.about-right {
	width: 45%;
	padding-left: 4rem;
}