:root {
	--color-primary: #fff;
	--color-secondary: #fffafa;
	--color-accent: #fb5849;
	--color-text: #000;
	--height-header: 10rem;
}

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
	font-size: 10px;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
	color: var(--color-text);
}
/* 
body.dark {
	--color-primary: #000;
	--color-secondary: #222;
	--color-accent: #250c41;
	--color-text: #fff;
} */

.container {
	width: 1140px;
    margin: 0 auto;
}

.header {
	background-color: var(--color-primary);
	height: var(--height-header);
	position: sticky;
	top: 0;
	z-index: 10;	
}

.header-container {
	display: flex;
}

.header-title {
	width: 35%;
	font-family: "Alex Brush";
	font-size: 5rem;
	font-weight: 400;
	color: #fb5849;
	text-shadow: 3px 4px 5px rgb(128, 128, 128);
	padding-top: 3rem;
}

.header-title:hover {
	color: var(--color-text);
}

.header-nav {
	display: flex;
	align-self: center;
	width: 65%;
	list-style: none;
	display: flex;
	justify-content: space-around;	
	padding-left: 20rem;
}

.scroll-to-section {
	position: relative;
}

.header-nav-link, .header-sub-link {
	text-decoration: none;
	color: var(--color-text);
	font-weight: 700;
}

.header-nav-link:hover {
	color: var(--color-accent);
}

.header-nav-link:active {
	color: var(--color-accent);
}

.header-sub-list {
	list-style: none;
	display: none;
	position: absolute;
	top: 100%;
    left: 0;

    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 6%);
}

.scroll-to-section:hover .header-sub-list {
    display: block;    
}

.header-sub-link {
	text-decoration: none;

	display: block;

	background-color: #f7f7f7;
    color: #2a2a2a; 
    width: 20rem;
    font-size: 1.6rem;
    font-weight: 400;
	line-height: 4rem;
	border-bottom: 0.1rem solid #eee;
	
	position: relative;
	
	opacity: 1;
	
	padding-left: 2rem;
	
	transition: all 0.3s ease 0s;
}

.header-sub-link:hover {
	color: #fb5849;

	background-color: white;
	padding-left: 2.5rem;
}

.starter {
	background-color:  var(--color-accent);
	height: calc(100vh - var(--height-header));
	position: relative;
}

.starter-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 1;
}

.starter-title {
	color: var(--color-primary);
	font-family: "Alex Brush";
	font-size: 5rem;
	font-weight: 400;
	text-shadow: 3px 4px 5px rgb(128, 128, 128);
}

.starter-desc {
	color: var(--color-primary);
	font-size: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	padding-bottom: 2.5rem;
}

.starter-link {
	text-decoration: none;
	color: var(--color-accent);
	font-family: inherit;
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: capitalize;

	background-color: var(--color-primary);
	border-radius: 0.3rem;
	padding: 1em 2em 1em 4em;
	width: 15em;
}

.starter-right-image {
	width: 65%;
	height: 100%;
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	object-fit: cover;
}

.starter-left-image {
	width: 35%;
	height: 100%;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}