:root {
	--color-primary: #fff;
	--color-secondary: #fffafa;
	--color-accent: #fb5849;
	--color-text: #000;
	--height-header: 8rem;
}

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
	font-size: 10px;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
	color: var(--color-text);
}

/* 
body.dark {
	--color-primary: #000;
	--color-secondary: #222;
	--color-accent: #250c41;
	--color-text: #fff;
} */

/* container */
.container {
	width: 1140px;
    margin: 0 auto;
	padding: 0 1.5rem;
}

/* large */
@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
}

/* medium */
@media (max-width: 991.98px) {
    .container {
		max-width: 720px;
	}
}

/* small */
@media (max-width: 767.98px) {
	.container {
		max-width: 540px;
	}
}

/* extra-small */
@media (max-width: 576px) {
	.container {
		max-width: 100%;
	}
}
/* end container */

/* section */
.section {
	padding: 8rem 0;
}
/* section */

/* logo */
.logo {
	font-family: "Alex Brush";
	font-size: 5rem;
	font-weight: 400;
	text-shadow: 3px 4px 5px rgb(128, 128, 128);
	color: var(--color-accent);
	text-decoration: none;

	transition: color 0.3s;
}

.logo:hover {
	color: var(--color-text);
}
/* end logo */

/* navigation */
.navigation {}

.navigation-list {
	display: flex;

	list-style: none;
}

.navigation-item {
	position: relative;

	margin-left: 4rem;
}

.navigation-item:hover .navigation-sublist {
    visibility: visible;
	opacity: 1;
	transform: translateY(0);
}


.navigation-link {
	display: block;
	padding: 1.5rem 0;

	text-decoration: none;
	font-weight: 700;
	color: var(--color-text);

	transition: color 0.3s;
}

.navigation-link:hover {
	color: var(--color-accent);
}

.navigation-sublist {
	position: absolute;
	top: 100%;
    left: 0;

	width: 20rem;

	list-style: none;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);

	visibility: hidden;
	opacity: 0;
	transform: translateY(2rem);
	transition-property: visibility, opacity, transform;
	transition-duration: 0.3s;
}

.navigation-subitem {
    border-bottom: 0.1rem solid #eee;
	background-color: #f7f7f7;

	transition: background-color 0.3s;
}

.navigation-subitem:hover {
	background-color: white;
}

.navigation-subitem:hover .navigation-sublink {
	color: var(--color-accent);

	transform: translateX(0.5rem);
}

.navigation-sublink {
	display: block;
	padding: 0.7rem 2rem;

	text-decoration: none;
	font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-text); 

	transition: color 0.3s, transform 0.3s;
}
/* end navigation */

/* burger */
#burger {
	display: none;
}
/* end burger */

/* header */
.header {
	position: sticky;
	top: 0;
	z-index: 10;

	height: var(--height-header);

	background-color: var(--color-primary);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15)
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
/* end header */

/* starter */
.starter {
	display: flex;
	height: calc(100vh - var(--height-header));
	max-height: calc(80rem - var(--height-header));
	
	background-color:  var(--color-accent);
}

.starter-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 33%;
	padding: 0 1.5rem;

	background-image: url(../img/top-left-bg.jpg);
	background-size: cover;
	background-position: center;
}

.starter-right {
	width: 67%;

	background-image: url(../img/slide-1.jpg);
	background-size: cover;
	background-position: center;
}

.starter-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.starter-title {
	font-family: "Alex Brush";
	font-size: 5rem;
	font-weight: 400;
	text-shadow: 3px 4px 5px rgb(128, 128, 128);
	color: var(--color-primary);
}

.starter-desc {
	margin-bottom: 2.5rem;

	font-size: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2rem;

	color: var(--color-primary);	
}

.starter-link {
	display: block;
	padding: 1em 2em;
	
	text-decoration: none;
	font-family: inherit;
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: capitalize;

	color: var(--color-accent);
	background-color: var(--color-primary);
	border-radius: 0.3rem;
}
/* end starter */

/* large */
@media (max-width: 1200px) {
	
}

/* medium */
@media (max-width: 991.98px) {
	.starter {
		flex-direction: column;
	}

	.starter-left {
		width: 100%;
		height: 100%;
	}

	.starter-content {
		align-items: center;
	}

	.starter-right {
		width: 100%;
		height: 100%;
	}

	.logo {
		font-size: 3rem;
	}

	.navigation-link {
		font-size: 1.4rem;
	}

}

/* small */
@media (max-width: 767.98px) {
	.header {
		background-color: #f7f7f7;
	}

	.logo {
		font-size: 3rem;
	}

	.navigation {}

	.navigation-list {
		flex-direction: column;	
		
		position: absolute;
		top: 75px;
		left: 50px;

		opacity: 0;
		visibility: hidden;
				
		transform: translateY(5px);
		
		transition-property: transform, opacity, visibility;
		transition-duration: 0.3s;
	}

	.navigation-item {
		padding-left: 4rem;
		border-bottom: 0.1rem solid #eee;
		background-color: #f7f7f7;
		width: 550px;
	}
	
	.burger {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 25px;
		height: 20px;
	}

	.burger-item:nth-child(1), .burger-item:nth-child(3) {
		display: block;
		width: 25px;
		height: 1.7px;

		background-color: var(--color-text);

		transition: transform 0.3s;
	}

	.burger-item:nth-child(2) {
		display: block;
		width: 32px;
		height: 1.7px;

		background-color: var(--color-text);

		transition: transform 0.3s;
	}

	#burger:checked + .burger .burger-item:nth-child(1) {
		transform: translateY(9px) rotate(45deg);
	}

	#burger:checked + .burger .burger-item:nth-child(2) {
		transform: scale(0);
	}

	#burger:checked + .burger .burger-item:nth-child(3) {
		transform: translateY(-9px) rotate(-45deg);
	}

	#burger:checked ~ .navigation-list {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
	
}

/* extra-small */
@media (max-width: 576px) {

}

/* about */
.about {}

.about-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.about-left {
	width: calc(55% - 4rem);
}

.about-right {
	width: 45%;
}

.about-title {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;

	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--color-accent);    
}

.about-title::before {
	content: '';

	display: block;
	width: 3rem;
    height: 0.1rem;
	margin-right: 1rem;
    
    background-color: var(--color-accent);
}

.about-subtitle {
	margin-bottom: 2rem;

	font-size: 3rem;
	font-weight: 900;
	text-transform: capitalize;
}

.about-text {
	margin-bottom: 2rem;

	text-align: justify;
	font-size: 1.4rem;
}

.about-cards {
	display: flex;
	justify-content: space-between;
}

.about-img {
	width: 30%;
	object-fit: cover;

	border-radius: 0.3rem;
}

.about-video {
	display: flex;
	width: 100%;
}

/* large */
@media (max-width: 1200px) {
	
}

/* medium */
@media (max-width: 991.98px) {
    
}

/* small */
@media (max-width: 767.98px) {
	.about-container {
		flex-direction: column;
	}

	.about-left {
		width: 100%;
	}

	.about-right {
		width: 100%;
		margin-top: 3rem;
	}

}

/* extra-small */
@media (max-width: 576px) {
	
}
/* end about */

/* offers */
.offers {
	padding-bottom: 0;

	background-color: var(--color-secondary);
}

.offers-title {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;

	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--color-accent); 
}

.offers-title::before {
	content: '';

	display: block;
	width: 3rem;
    height: 0.1rem;
	margin-right: 1rem;
    
    background-color: var(--color-accent);
}

.offers-subtitle {
	margin-bottom: 2rem;

	font-size: 3rem;
	font-weight: 900;
	text-transform: capitalize;
}

.offers-body {
	padding: 0 1.5rem;
}

.offers-arrows {
	display: flex;
	justify-content: center;
	padding: 4rem 0;
}
/* end offers */

/* product */
.product {
	position: relative;

	border-radius: 0.5rem;

	overflow: hidden;
	transition: transform 0.3s;
}

.product:hover .product-popup {
	transform: translateY(-60%);	
}

.product:hover .product-title  {
	white-space: pre-wrap;
    text-overflow: unset;
    overflow: visible;
}

.product-price {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 7.5rem;
	height: 4rem;

	font-size: 1.8rem;
	font-weight: 700;

	color: var(--color-primary);
	background-color: var(--color-accent);
	border-radius: 0.3rem;
}

.product-img {
	display: flex;
    width: 100%;
    height: 32rem;

    object-fit: cover;
}

.product-popup {
	position: absolute;
    top: 100%;
    left: 0;
	width: 100%;
	height: 100%;

	background-color: var(--color-accent);
	border-radius: 0 0 0.5rem 0.5rem;	
		
	transform: translateY(-50px);

    transition: transform 0.3s;
}

.product-title {
	padding: 1rem 3rem 2rem 3rem;

	font-size: 2rem;
	font-weight: 700;

	color: var(--color-primary);

	white-space: nowrap;
	text-overflow: ellipsis;
    overflow: hidden;
}

.product-desc {
	padding-left: 3rem;
	font-size: 1.6rem;
	color: var(--color-primary);
}
/* end product */

/* socials */
.socials {
	display: flex;

	list-style: none;
}

.socials._footer .socials-link:hover {
	background-color: var(--color-primary);
	color: var(--color-accent);
}

.socials-item:not(:last-child) {
	margin-right: 1rem;
}

.socials-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
    height: 40px;

	color: var(--color-text);
	text-decoration: none;

    background-color: var(--color-primary);
    border-radius: 50%;
    
    transition: background-color .5s, color 0.5s;
}

.socials-link:hover {
	background-color: var(--color-accent);
}
/* end socials */

/* large */
@media (max-width: 1200px) {
	
}

/* medium */
@media (max-width: 991.98px) {
    
}

/* small */
@media (max-width: 767.98px) {
	
}

/* extra-small */
@media (max-width: 576px) {
	
}

/* features */
.features {}

.features-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;

	list-style: none;
}

.features-list-item {}
/* end features */

/* addition */
.addition {
	padding: 5px;

	background-color: var(--color-primary);
	border: 1px solid #afafaf;
	border-radius: 3px;

	transition: border .5s;
}

.addition:hover {
	border-color: var(--color-accent);
}

.addition:hover .addition-title{
	color: var(--color-accent);
}

.addition:hover .addition-overlay{
	opacity: 1;
}

.addition-header {
	position: relative;

	border-radius: 3px;

	overflow: hidden;
}

.addition-img {
	display: flex;
	width: 100%;
	height: 20rem;

	object-fit: cover;
}

.addition-overlay {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.5);

	opacity: 0;
	transition: opacity 0.5s;
}

.addition-body {
	padding: 2rem;
}

.addition-title {
	margin-bottom: 1rem;

	text-align: center;

	transition: color 0.5s;
}

.addition-desc {
	text-align: center;
}
/* end additon */

/* start features */
.features-container {}

.features-title {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;

	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--color-accent);    
}

.features-title::before {
	content: '';

	display: block;
	width: 3rem;
    height: 0.1rem;
	margin-right: 1rem;
    
    background-color: var(--color-accent);
}

.features-subtitle {
	margin-bottom: 2rem;

	font-size: 3rem;
	font-weight: 900;
	text-transform: capitalize;
}

/* features cards */
.features-cards {}

.features-cards-list {
	display: flex;
	justify-content: space-between;

	list-style: none;
}

.features-card-item {
	position: relative;
	padding: 5px;

	width: calc(25% - 2rem);
	height: 40rem;

	background-color: var(--color-primary);
	border: 1px solid #afafaf;
	border-radius: 0.3rem;

	transition: border .5s;
}

.features-card-item:hover {
	border: 1px solid var(--color-accent);
}

.features-img {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;

	width: 100%;
	height: 70%;
	
	border-radius: 0.3rem;

	object-fit: cover;
}

.img-cover {
	position: absolute;
    left: 0;
    top: 0;

	width: 100%;
    height: 70%;

    background-color: var(--color-text);
    border-radius: 0.3rem;

    opacity: 0;

    transition: opacity 0.3s;
}

.features-card-item:hover .img-cover {
	opacity: 0.7;
}

.features-desc {
	position: absolute;
	top: 70%;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
	width: 100%;	
}

.features-desc-text {
	text-align: center;
}

.features-desc-title {
	font-size: 20px;
    font-weight: 700;
    color: var(--color-text);
	text-align: center;

	transition: color .3s;
}

.features-card-item:hover .feachures-desc-title {
	color: var(--color-accent);
}

/* large */
@media (max-width: 1200px) {
	
}

/* medium */
@media (max-width: 991.98px) {
    
}

/* small */
@media (max-width: 767.98px) {
	.features-list {
		grid-template-columns: repeat(auto-fill, 20rem);
	}
}

/* extra-small */
@media (max-width: 576px) {
	
}
/* features end */

/* contact */
.contact {
	background-image: url(../img/contacts-bg.jpg);
}
/* contact end */

.contact-container {
	display: flex;
	justify-content: space-between;
}

.contact-left {
	width: 60rem;
}

/* contact-left-header */
.contact-left-header {
	margin: 5rem 0;
}

.contact-left-title {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;

	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--color-primary);    
}

.contact-left-title::before {
	content: '';

	display: block;
	width: 3rem;
    height: 0.1rem;
	margin-right: 1rem;
    
    background-color: var(--color-primary);
}

.contact-address {
	margin-bottom: 2rem;

	font-size: 3rem;
	font-weight: 900;
	color: var(--color-primary);
}

.contact-left-text {
	font-family: inherit;
	color: var(--color-primary);
}
/* contact-left-header end */

/* contact-info */
.contact-info {
	display: flex;
}

.contact-info-box {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 255px;
	height: 160px;

	background-color: var(--color-primary);
	border-radius: 0.5rem;

	font-family: sans-serif;
}

.contact-info-box:nth-child(1) {
	margin-right: 3rem;
}

.fas {
	position: absolute;
	top: -3rem;
	left: 9rem;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 7rem;
	height: 7rem;	
    
	font-size: 2.4rem;	
    color: var(--color-primary);

    background-color: var(--color-accent);
    border-radius: 50%;  
}

.contact-info-title {
	margin: 2rem 0;
}

.contact-link {
	text-decoration: none;
	font-family: inherit;
	font-size: 1.6rem;
	color: var(--color-text);
}

.contact-link:hover {
	color: var(--color-accent);
}
/* contact-info end */

.contact-right {
	width: calc(100% - 63rem);
	padding: 4rem 3rem;

	background-color: var(--color-primary);
	border-radius: 0.5rem;
}

/* contact-right-form */
.contacts-right-form {}

.contacts-right-title {
	text-align: center;
}

.input-box {
	display: flex;
	margin: 3rem 0;
}

.name, .select  {
	margin-right: 3rem;
}

.input {
	display: flex;
	width: 22.5rem;
	height: 4rem;
	padding-left: 1rem;

	font-family: inherit;
	font-size: 1.4rem;

	outline: none;
	border: 0.05rem solid lightgrey;
	border-radius: 0.3rem;
}

.input:focus {
	border: 0.1rem solid var(--color-accent);
}

.textarea {
	display: flex;
	width: 100%;
	padding-left: 1rem;

	resize: none;
	
	font-family: inherit;
	font-size: 1.4rem;

	outline: none;
	border: 0.5px solid lightgrey;
	border-radius: 3px;
}

.textarea:focus {
	border: 1px solid var(--color-accent);
}

.btn {
	height: 3em;
	width: 100%;
	margin-top: 3rem;

	background-color: var(--color-accent);
	border: none;
	border-radius: 0.2em;

	font-family: inherit;
	font-size: 1.4rem;
	font-weight: bold;
	color: var(--color-primary);
}
/* end contact-right-form */

/* large */
@media (max-width: 1200px) {
	.input {
		width: 11rem;
	}

}

/* medium */
@media (max-width: 991.98px) {
    .contact-container {
		flex-direction: column;
	}

	.contact-left {
		width: 100%;
	}

	.contact-right {
		width: 100%;
		margin-top: 3rem;
	}

	.input {
		width: 22.5rem;
	}
}

/* small */
@media (max-width: 767.98px) {
	
}

/* extra-small */
@media (max-width: 576px) {
	.contact-info {
		flex-direction: column;
	}

	.input-box {
		flex-direction: column;
	}

	.phone {
		margin-bottom: 3rem;
	}

	.name, .select  {
		margin-bottom: 3rem;
	}
}

/* footer */
.footer {
	background-color: var(--color-accent);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-social-icons {
	display: flex;
}

.footer-link {
	list-style: none;
	padding-left: 1rem;
}

.footer-icon {
	display: inline-block;
	width: 4rem;
    height: 4rem;

	text-align: center;
    line-height: 4rem;
	color: var(--color-accent);

    background-color: var(--color-primary);
    border-radius: 50%;
    
    transition: color .5s;
}

.footer-icon:hover {
	color: var(--color-text);
}

.footer-texts {}

.footer-text {
	color: var(--color-primary);
}

/* small */
@media (max-width: 767.98px) {
	.footer {
		flex-direction: column;
	}
	.contact-info-box:nth-child(1) {
		margin-bottom: 5rem;
	}

}

/* end footer */

/* swiper */
.swiper-button-next,
.swiper-button-prev {
	position: static;

	margin: 0;
}

.swiper-button-prev {
	margin-right: 2rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 2rem;
	color: var(--color-accent);
}